@model IEnumerable< WebFormDemo.Models.Department>
@using WebFormDemo.Models
@{
    ViewBag.Title = "Index";
}
<div style="font-family:Arial">
    <h2>Index</h2>
    <ul>
        @foreach (Department department in Model)
        {
            <li>
                @Html.ActionLink(department.Name,"Index","Employee",new { id=department.Id},null)
            </li>
        }
    </ul>
</div>

